* {
    color:white;
    background-color: #2b2e2c;
    font-size: 1.5em;
    font-family: sans-serif;
}


#clockdiv{
    
    position: fixed;
    top: 50%;
    left: 35%;
    /* bring your own prefixes */
    transform: translate(-30%, -50%);
  
}

#clockdiv > div{
	display: inline-block;
    text-align: center;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: grey;
	display: inline-block;
}

.text{
	padding-top: 5px;
	font-size: 20px;
}